<footer id="footer" class="footer border-top footer text-muted">
    <div class="container">
        <div class="copyright">
             Copyright <strong><span>Re'Cycle</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="https://bootstrapmade.com/">Ofk</a>
        </div>
    </div>
</footer>