
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <i class="bi bi-recycle"></i>
            <h1 class="display-4">Re'Cycle</h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                
                    @*<li class="nav-item ms-auto ">
                        <a class="nav-link text-success" asp-area="Login" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link text-success" asp-area="Register" asp-controller="Account" asp-action="Register">Register</a>
                    </li>*@
                    <li class="nav-item ms-auto">
                    <a class="nav-link  text-success" asp-controller="Wallet" asp-action="Index" asp-route-id="@TempData["usid"]">
                            <i class="fa-solid fa-user me-2"></i>Profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" asp-area="" asp-controller="Account" asp-action="Logouts"><i class="text-success fa-solid fa-right-from-bracket me-2"></i>Logout</a>
                    </li>
                
            </ul>
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header>
